/** @define Button */
// stylelint-disable-next-line
@import '~mono-tokens/dist/web/mono/scss/tokens';

:root {
  --Button-color: #{$color-white};
  --Button-background-color: #{color-black};
}

.Button {
  appearance: none;
  background-color: var(--Button-background-color);
  color: var(--Button-color);
  display: inline-block;

  .Button--isFullWidth {
    display: block;
    width: 100%;
  }

  .Button--isDisabled {
    cursor: not-allowed;
  }
}
