---
name: Release

on:
  pull_request:
    types: [closed]
    branches: [ main, next ]

jobs:
  Release:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged

    steps:
      - name: checkout
        if: github.event.pull_request.merged
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.18.0
      
      - name: Install
        run: yarn

      - name: Build
        run: yarn build
        
      - name: Release
        run: yarn release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          SEMANTIC_RELEASE_PACKAGE: ${{ secrets.GITHUB_TOKEN }}
